{
  "parser": "babel-eslint",
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "error",
    "no-console": "error",
    "no-undef": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error"
  },
  "extends": ["prettier"],
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "fetch": true,
    "console": true,
    "Promise": true,
    "URL": true,
    "alert": true,
    "URLSearchParams": true,
    "FileReader": true,
    "Uint8Array": true,
    "process": true,
    "setInterval": true,
    "clearInterval": true,
    "module": true,
    "require": true,
    "WebSocket": true,
    "clearTimeout": true,
    "setTimeout": true
  }
}